@use "../helpers" as *;

.expandable-content {
  position: relative;
  overflow-y: hidden;

  &.is-expanded {
    &::after,
    .expandable-content__button {
      @include hide;
    }
  }

  &:not(.is-expanded) {
    max-height: var(--maxInitialHeight);
  }

  &__button {
    @include abs-x;
    bottom: rem(68);
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-image: linear-gradient(
      180deg,
      rgba(20, 20, 20, 0) 0%,
      #141414 67.38%
    );
    pointer-events: none;
    transition-duration: var(--transition-duration);
  }
}
