@use "../helpers" as *;

.tabs {
  &__header {
    border-bottom: var(--border);

    @include tablet {
      overflow-x: auto;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: rem(20);
    padding-block: fluid(50, 20);

    @include laptop {
      column-gap: rem(14);
    }

    @include tablet {
      width: max-content;
    }

    &--compact {
      display: inline-flex;
      column-gap: rem(10);
      padding: rem(10);
      border: var(--border);
      border-radius: rem(10);
      background-color: var(--color-dark);

      .tabs__button {
        padding: rem(18) rem(38);

        @include laptop {
          padding: rem(14) rem(24);
        }

        &.is-active {
          background-color: var(--color-dark-15);
          color: var(--color-light);
          font-weight: 400;
        }
      }
    }
  }

  &__button {
    padding: fluid(30, 18) rem(11);
    background-color: transparent;
    color: var(--color-grey-60);
    border: var(--border);
    border-radius: rem(8);

    @include hover {
      color: var(--color-accent);
      border-color: var(--color-accent);
    }

    &.is-active {
      background-color: var(--color-dark-10);
      color: var(--color-light);
      font-weight: 500;
      pointer-events: none;
    }
  }

  &__content {
    &:focus-visible {
      outline-offset: -1rem;
    }

    &:not(.is-active) {
      display: none;
    }

    &:not(:first-child) {
      text-align: center;
      @include fluid-text(100, 50);
    }
  }
}
